<!--
<div class="d-flex" id="wrapper">
  &lt;!&ndash; Sidebar &ndash;&gt;
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Dashboard </div>
    <div class="list-group list-group-flush">
      <a routerLink="overview" class="list-group-item list-group-item-action bg-light">Overview</a>
      <a routerLink="users" class="list-group-item list-group-item-action bg-light">Users</a>
      <a routerLink="add-product" class="list-group-item list-group-item-action bg-light">Products</a>
      <a routerLink="settings" class="list-group-item list-group-item-action bg-light">Settings</a>
    </div>
  </div>


</div>
-->
