<!--<app-navbar></app-navbar>-->

<section class="banner">
  <div class="slide">
    <div class="description">
      <h1>Premium comfort</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti similique fugit expedita commodi, consectetur, eligendi.</p>
    </div>
    <img src="https://user-images.githubusercontent.com/52452/42075807-a4f568fc-7b40-11e8-8024-d4183c805a69.png" width="350" height="350">
  </div>
</section>
<div class="container mt-4">
  <app-product-list></app-product-list>
</div>
<!--<app-footer></app-footer>-->
